body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: rgb(230, 115, 8);
}

p {
    font-size: 16px;
    color: #333333;
}

img {
    width: 400px;
    margin-top: 30px;
}