body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    font-size: 16px;
    color: #333;
}

img {
    width: 300px;
    margin-top: 20px;
}